/*html {
    display: flex;
    background-color:black
}*/

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;/*revisit this code if necessary*/
    background-color: lightgrey;
    margin: 0;/*revisit this code if necessary*/
    color: white; /*revisit this code if necessary*/
}

ul {
    list-style: none;
    display: flex;
    /*background-color: lightblue;*/
    margin: 0;
    padding: 0;
    align-items: center;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2737;
    padding: 0px 50px;
}

.header p{
    color: #f9faf8;;
    font-size: 24px;
    font-weight: bolder;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 18px;
    color: #E5E7EB;
}

.main{     
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.intro{
    background-color: #1f2737;
    color: white;
    display: flex;
    padding: 50px 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.middle {
    background-color: white;
    color: black;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 100px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signature {
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
    font-weight: bold;

}
.footer {
    display: flex;
    background-color: #1f2737;
    color: white;
    justify-content: center;
}