body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;/*revisit this code if necessary*/
    margin: 0;/*revisit this code if necessary*/
    color: white; /*revisit this code if necessary*/
}

ul {
    list-style: none;
    display: flex;
    /*background-color: lightblue;*/
    margin: 0;
    padding: 0;
    align-items: center;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 0 15px;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2737;
    padding: 0px 50px;
}

.header p{
    color: #f9faf8;;
    font-size: 24px;
    font-weight: bolder;
}
.content {
    display: flex;
    flex-shrink: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 18px;
}

.main{     
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    display: flex;
    color: #E5E7EB;
    max-width: 700px;
}

.intro{
    background-color: #1f2737;
    color: white;
    display: flex;
    padding: 50px 50px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.middle {
    background-color: white;
    color: #1F2937;
    margin: 50px 50px;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.four-pics {
    display: flex;
    padding: ;
}

.illustration {
    height: auto;
    width: 150px;
    border-radius: 10px;
    border: 3px solid #3882f6;
    margin: 0px 50px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 100px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signature {
    display: flex;
    font-size: 18px;
    justify-content: flex-end;
    font-weight: bold;

}

.container {
    display: flex;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 50px 100px;
    margin: 100px 200px;
    
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 18px;
    border-color: white;
    border-style: solid;
}

.footer {
    display: flex;
    background-color: #1f2737;
    color: white;
    justify-content: center;
    padding: 50px;
}